<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/style.css">

     <!-- HERE Maps API Scripts -->
     <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
     <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
     <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
     <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
     <link rel="stylesheet" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
     <style>
        #mapContainer {
            width: 100%;
            height: 500px;
            position: relative;
        }

        #mapContainer canvas{
            display: block;
        }
    </style>
</head>
<body>
    <h1>Locations</h1>
        <div>
        <p class="locations" id="locations">        
    </p>
    </div>
     <div class="map-section">
        <div id="mapContainer"></div>
    
        <script> 
        const locationMap = JSON.parse(`{{.LocationMap}}`);

        const locationList = document.getElementById('locations');

        locationMap.forEach((location,index) => {
            const listItem = document.createElement('li');
            const button = document.createElement('button');
            button.textContent = 'See on Map'

            button.setAttribute('data-index', index);

            listItem.className = 'places';
            listItem.textContent = location.Name;
            listItem.appendChild(button)
            locationList.appendChild(listItem);

            // console.log(location.Name)
        });

        // Initialize map functionality
        function initMap(apiKey,index) {
            const platform = new H.service.Platform({
                apikey: apiKey
            });
            index = (typeof index !== 'undefined') ? index : 0;

            // Map configuration. Default to london
            const latitude = 51.5074;
            const longitude = -0.1278;
            const defaultLayers = platform.createDefaultLayers();
            
            // Create map instance
            const map = new H.Map(
                document.getElementById('mapContainer'),
                defaultLayers.vector.normal.map,
                {
                    center: { lat: latitude, lng: longitude },
                    zoom: 3,
                    // maxZoom:3,
                    pixelRatio: window.devicePixelRatio || 1
                }
            );

            defaultLayers.vector.normal.map.setMin(3);
            // Add window resize handler
            window.addEventListener('resize', () => map.getViewPort().resize());

            // Enable map interactions
            const behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
            // set max zoom
            // behavior.zoom.setMax(3);
            // Add UI controls
            const ui = H.ui.UI.createDefault(map, defaultLayers);
            // Add custom marker
            const svgIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="#FF4136">
             <path d="M12 0C7.31 0 3.5 3.81 3.5 8.5C3.5 14.87 12 24 12 24S20.5 14.87 20.5 8.5C20.5 3.81 16.69 0 12 0ZM12 13C9.79 13 8 11.21 8 9C8 6.79 9.79 5 12 5C14.21 5 16 6.79 16 9C16 11.21 14.21 13 12 13Z"/>
            </svg>`;
             const icon = new H.map.Icon(svgIcon, {
                  size: { w: 48, h: 48 },
                  anchor: { x: 24, y: 48 }  // Anchor point at bottom center of the icon
              });

              locationMap.forEach(location => {
                const latitude = parseFloat(location.Locations[0]);
                const longitude = parseFloat(location.Locations[1]);
                // console.log(latitude,longitude)  
                const marker = new H.map.Marker({lat: latitude,lng: longitude},{icon: icon});
                map.addObject(marker);              
            });

            function updateMapCenter(index) {
                if (typeof index !== 'undefined' && locationMap[index]?.Locations)  {
                    const newLat = parseFloat(locationMap[index].Locations[0]);
                    const newLng = parseFloat(locationMap[index].Locations[1]);
                    map.setCenter({ lat: newLat, lng: newLng });
                    map.setZoom(10);
                } else {
                    console.log("Invalid location index");
                }
            }

            const buttons = document.querySelectorAll('button')

            buttons.forEach(button => {
                button.addEventListener('click',(event) => {
                    const buttonIndex = event.target.getAttribute('data-index');
                    console.log(`${buttonIndex}`)
                    updateMapCenter(buttonIndex )
                })
            })
        }
        apiKey = ''         // Fetch API key and initialize map
        fetch('/getApiKey')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (!data.apiKey) {
                    throw new Error('Invalid API key');
                }
                initMap(data.apiKey,locationMap);
                apiKey = data.apiKey;
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('mapContainer').innerHTML = 
                    '<p style="color: red;">Error loading map: ' + error.message + '</p>';
            });

        </script>
    </div>

    <!--Add back-button-->
    <div class ="back-button">
        <button onclick="goBack()" style="display: inline-block;
        outline: 0;
        border: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 4px;
        font-size: 16px;
        height: 30px;
        background-color: #e40ec70d;
        color: #0e0e10;
        margin :1em;
        padding: 0 20px;">Back</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>

<!-- 
    

 -->